version: "3.5"

services:

  mysql-jcia-db:
    container_name: jcia-db
    image: "mysql:8.0.25"
    environment:
      - MYSQL_USER=thdtt
      - MYSQL_ROOT_PASSWORD=Hihahiho09620@
      - MYSQL_PASSWORD={[(Hash123!@#ing)]}
      - MYSQL_MULTIPLE_DATABASE=micro_jcia_project, micro_jcia_user
    ports:
      - "3307:3306"
    networks:
      - jcia-network

  discovery-service:
    container_name: discovery-service
    image: discovery-service:latest
    build:
      context: discovery-server
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    networks:
      - jcia-network

  api-gateway:
    container_name: api-gateway
    image: api-gateway:latest
    build:
      context: api-gateway
      dockerfile: Dockerfile
    ports:
      - "8005:8005"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  utility-service:
    container_name: utility-service
    image: utility-service:latest
    build:
      context: utility-service
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  user-service:
    container_name: user-service
    image: user-service:latest
    build:
      context: user-service
      dockerfile: Dockerfile
    environment:
      - EUREKA_SERVER=discovery-service
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-jcia-db:3306/micro_jcia_user?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Hihahiho09620@
    ports:
      - "8002:8002"
    depends_on:
      - discovery-service
      - mysql-jcia-db
    links:
      - "discovery-service"
    networks:
      - jcia-network

  project-service:
    container_name: project-service
    image: project-service:latest
    build:
      context: project-service
      dockerfile: Dockerfile
    environment:
      - EUREKA_SERVER=discovery-service
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-jcia-db:3306/micro_jcia_project?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Hihahiho09620@
    ports:
      - "8003:8003"
    depends_on:
      - discovery-service
      - mysql-jcia-db
    links:
      - "discovery-service"
    networks:
      - jcia-network

  parser-service:
    container_name: parser-service
    image: parser-service:latest
    build:
      context: parser-service
      dockerfile: Dockerfile
    ports:
      - "7001:7001"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  java-service:
    container_name: java-service
    image: java-service:latest
    build:
      context: java-service
      dockerfile: Dockerfile
    ports:
      - "7002:7002"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  spring-service:
    container_name: spring-service
    image: spring-service:latest
    build:
      context: spring-service
      dockerfile: Dockerfile
    ports:
      - "7003:7003"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  jsf-service:
    container_name: jsf-service
    image: jsf-service:latest
    build:
      context: jsf-service
      dockerfile: Dockerfile
    ports:
      - "7004:7004"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  strut-service:
    container_name: strut-service
    image: strut-service:latest
    build:
      context: strut-service
      dockerfile: Dockerfile
    ports:
      - "7005:7005"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  cia-service:
    container_name: cia-service
    image: cia-service:latest
    build:
      context: cia-service
      dockerfile: Dockerfile
    ports:
      - "6001:6001"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  version-compare-service:
    container_name: version-compare
    image: version-compare:latest
    build:
      context: version-compare-service
      dockerfile: Dockerfile
    ports:
      - "6002:6002"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  file-service:
    container_name: file-service
    image: file-service:latest
    build:
      context: file-service
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

  git-service:
    container_name: git-service
    image: git-service:latest
    build:
      context: git-service
      dockerfile: Dockerfile
    ports:
      - "8004:8004"
    environment:
      - EUREKA_SERVER=discovery-service
    depends_on:
      - discovery-service
    links:
      - "discovery-service"
    networks:
      - jcia-network

networks:
  jcia-network:
    name: jcia-network
    driver: bridge
