<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>processing-service/utility-service/logs/utility-service.log</file>
        <file>logs/utility-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>service-log/utility-service/logs/utility-service.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- retain 7 days logs -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1000MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <!-- <pattern>%d %p %C{1.} [%t] %m%n</pattern> -->
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss} %.-1level %thread %logger{36}: %m%n</pattern>
        </encoder>

    </appender>

    <!-- trace - debug - info - warn - error - fatal -->
    <root level="INFO">
        <appender-ref ref="ROLLIN" />
<!--        <appender-ref ref="CONSOLE" />-->
    </root>

    <logger name="root" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="com.example.utilityservice" level="INFO"/>
</configuration>