name: JCIA CI

on:
  push:
  pull_request:
    branches:
    - main
    - datdev
    - Spring-dev

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: test with maven
      run: sh .github/scripts/mvn-verify.sh
    - name: build with maven
      if: ${{success()}}
      run: sh .github/scripts/mvn-build.sh
