name: JCIA CI

on:
  push:
  pull_request:
    branches:
      - master
      - datdev
      - Spring-dev

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          distribution: 'openjdk'
      - name: test with maven
        run: 
          mvn -T 1C verify -f .\discovery-server\pom.xml -DskipTests
          mvn -T 1C verify -f .\cia-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\file-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\github-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\java-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\parser-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\project-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\spring-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\user-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\utility-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\version-compare-service\pom.xml -DskipTests
          mvn -T 1C verify -f .\xml-service\pom.xml -DskipTests
      - name: build with maven
        if: ${{success()}}
        run:
          mvn -T 1C clean install compile package -f .\discovery-server\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\cia-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\file-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\github-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\java-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\parser-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\project-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\spring-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\user-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\utility-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\version-compare-service\pom.xml -DskipTests
          mvn -T 1C clean install compile package -f .\xml-service\pom.xml -DskipTests
